/*font-family: 'Inter', sans-serif;*/

body {
  margin: 0;
}

.page {
  width: 1008px;
  margin: 65px auto 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
}

ul {
  display: flex;
  list-style: none;
  gap: 48px;
  margin: 0;
  padding: 0;
}

ul,
a {
  text-decoration: none;
  color: #1f1534;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
}

section,
h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 49px;
  color: #000000;
  font-weight: normal;
}

span {
  font-weight: bold;
  color: #89c5cc;
}

section,
p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #1f1534;
}

footer {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #000000;
}
